@import url('../../public/fonts/index.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: VTB Group UI;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}