.heading {
  padding: 10px 0;
}

.heading h1 {
  color: #0A2973;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading h3 {
  color: #0A2973;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mapWrapper {
  position: relative;
  width: 100%;
  display: flex;
  height: calc(100vh - 224px);
  min-height: 535px;
}



.map {
  width: 100%;
  height: 100%;
}

.form {
  min-width: 500px;
}

.sidebar {
  padding: 30px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.sidebarContent {
  width: 322px;
  border-radius: 30px;
  background: #FFF;
  padding: 0 20px 20px;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.sidebarContent::-webkit-scrollbar { width: 0; }

.sidebarInputWrapper {
  position: sticky;
  padding-top: 20px;
  top: 0px;
  background-color: #fff;
  padding-bottom: 12px;
}

.sidebarClose {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.sidebarInput {
  border: 0;
  width: 100%;
  border-radius: 8px;
  background: #F1F2F4;
  padding: 7px 10px;
}

.inputError {
  margin-top: 4px;
  color: #dc2929;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: #696F84;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 5px;
}

.chipsBlock {
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.officesInfo {
  margin-top: 20px;
}

.radiusInfo {
  color: #696F84;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 12px;
}

.officeList {
  display: flex;
  flex-direction: column;
}